<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAo2cZ8yAQQC6dV0x8LbgeT4OVA05zSKlg</string>
	<key>GCM_SENDER_ID</key>
	<string>974168106274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignmet1</string>
	<key>PROJECT_ID</key>
	<string>banquetbookz-4bde9</string>
	<key>STORAGE_BUCKET</key>
	<string>banquetbookz-4bde9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974168106274:ios:161e2b00e1e9fa8990f17b</string>
</dict>
</plist>